/* Custom Header */

.custom-header {
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
	position: relative;
    background: #fff;
}

.custom-header .logo {
    float: none;
    position: relative;
    display: table;
    margin: auto;
    position: relative !important;
    float: none !important;
}

.custom-header-phone {
    position: absolute;
    top: 52px;
    left: 52px;
    background: #0866b0;
    color: #fff;
    padding: 13px 15px;
    text-decoration: none !important;
}

.custom-header-phone h3 {
	margin-bottom: 0 !important;
}

.custom-header-phone:before {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 14px solid #0866b000;
    border-left: 14px solid transparent;
    border-top: 14px solid #0866b0;
    border-bottom: 14px solid transparent;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -14px;
    z-index: 1;
}

.custom-header .logo img {
    float: none;
    display: table;
    margin: auto;
}

.footer-disclosure {
    float: left;
    width: 100%;
}

@media (max-width:990px) {

	.custom-header-phone {
		position: relative;
		top: auto;
		left: auto;
		margin: auto;
		display: table;
		margin-bottom: 10px;
	}

}

@media (min-width:601px) {

	.page-id-3801 .avia-section-large .content,
    .page-id-3612 .avia-section-large .content,
    .page-id-3651 .avia-section-large .content,
    .page-id-3665 .avia-section-large .content {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .page-id-3801 h1,
    .page-id-3612 h1,
    .page-id-3651 h1,
    .page-id-3665 h1 {
        text-transform: uppercase !important;
    }

}

/* Custom Header */

.fdsfsdf {
    display: none;
}

body {
    font-family: 'Noto Sans', sans-serif !important;
}

body .main_color a {
    color: #0966b1;
}

h1,
h2,
h3 {
    font-family: 'Noto Serif', serif !important;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

input:focus {
    outline: none;
}

.group:after,
.gform_page_footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

textarea, 
input { 
	outline: none; 
}

/* Header ---------------------*/

header#header {
    box-shadow: none;
    border-bottom: 1px solid #ebebeb;
}

#top #header.av_minimal_header .main_menu ul:first-child >li > ul {
    border-top: 1px solid #eee;
    margin-top: -20px;
    box-shadow: none;
}

.avia-search-tooltip {
    box-shadow: none;
}

#searchsubmit {
    line-height: 37px !important;
}

#searchsubmit i {
    font-size: 11px;
}

.ajax_search_entry {
    margin-top: -5px;
}

/* Pages ---------------------*/

#persection4 .container {
    max-width: 870px;
}

#persection4 .av_one_half {
    padding: 0 25px 0 43px;
}

.section {
	padding: 100px 0;
}

.section-content {
	max-width: 1300px;
    box-sizing: border-box;
	margin: 0 auto;
	position: relative;
    padding: 0 50px;
}

.grid {
    overflow: hidden;
    position: relative;
}

.grid-box {
    float: left;
    box-sizing: border-box;
    padding: 0 30px 30px 0;
}

.grid-2 .grid-content {
    width: calc(100% + 30px);
}

.grid-2 .grid-box {
    width: 50%;
}

.grid-2 .grid-content .grid-box:nth-child(2n+1) {
    clear: both;
}

.grid-3 .grid-content {
    width: calc(100% + 30px);
}

.grid-3 .grid-box {
    width: 33.33333%;
}

.grid-3 .grid-content .grid-box:nth-child(3n+1) {
    clear: both;
}

.grid-4 .grid-content {
    width: calc(100% + 30px);
}

.grid-4 .grid-box {
    width: 25%;
}

.grid-4 .grid-content .grid-box:nth-child(4n+1) {
    clear: both;
}

.title_container {
    border-top: none;
    background: #f5f5f5;
}

.tagcloud a {
    font-size: 14px !important;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
}

.html_elegant-blog .more-link {
    width: auto;
}

.more-link-arrow {
    position: relative;
    top: -1px;
}

/* Home ---------------------*/

#section-1 {
    background: linear-gradient(135deg, #ffffff 0%, #c4dff5 100%);
    padding: 70px 0;
    padding-top: 150px;
}

#top #header .av-main-nav > li > a {
    font-family: 'Open Sans', sans-serif;
}

#top .av-main-nav ul a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.home #main {
    padding-top: 0 !important;
}

.transparent-header #header {
    border-bottom: 1px solid rgba(255,255,255,0.0) !important;
}

.transparent-header .avia-menu.av_menu_icon_beside {
    border-right: 1px solid rgba(255,255,255,0.0) !important;
}

.transparent-header .header_color .header_bg {
    background-color: rgba(255,255,255,0.0);
}

.quote-form {
    display: table;
    margin: 30px auto 0 auto;
}

.quote-form input {
    height: 48px;
    width: 250px !important;
    max-width: 100%;
    border: none !important;
    padding: 0 15px !important;
    margin-right: 15px !important;
    margin-bottom: 0 !important;
    background: #fff !important;
}

.quote-form input,
.quote-form .button {
    float: left;
    margin-top: 0;
}

.button,
.avia-button,
.more-link,
.submit {
    font-family: 'Noto Sans', sans-serif !important;
    letter-spacing: .5px;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #fff !important;
    box-sizing: border-box;
    line-height: 48px !important;
    height: 48px;
    padding: 0 15px !important;
    background: #0966b1 !important;
    display: table !important;
    margin-top: 25px;
    min-width: 200px !important;
    border-radius: 0 !important;
    text-align: center;
    border: none !important;
}

.button:hover,
.avia-button:hover,
.more-link:hover,
.submit:hover {
    background: #ecd07d !important;
    text-decoration: none !important;
}

.av-icon-on-hover .avia_button_icon {
    display: none;
}

.home #section-2 .content {
    padding: 57px 0;
}

#section-2 .content .iconbox_icon {
    float: none;
    margin: auto;
    display: table;
    margin-bottom: 23px;
} 

#section-2 .content .iconbox_content {
    text-align: center;
} 

#loans .av_one_third {
    border-radius: 0px;
    background: #f1f1f1;
    color: #bbb;
    padding: 15px 0px;
}

#promo-section .av-special-heading {
    font-size: 40px;
    display: inline-block;
    width: auto;
    float: left;
    clear: none;
}

#promo-section .avia-button-wrap {
    display: inline-block;
    float: left;
    clear: none;
    margin-left: 25px;
    margin-top: -4px;
}

.avia-testimonial {
    border: none !important;
}

.avia-testimonial-image,
.avia-testimonial-image img {
    border-radius: 50% !important;
}

.avia-testimonial-image img {
    max-width: 70px;
}

.avia-testimonial-wrapper {
    margin-bottom: -10px;
}

.avia-slider-testimonials {
    max-width: 1000px;
    margin: 30px auto -20px auto;
}

.avia-slider-testimonials .avia-testimonial-image img {
    max-width: 60px;
}

#top .av-large-testimonial-slider .avia-testimonial-name {
    font-size: 15px;
    margin-top: 18px;
}

#top .av-large-testimonial-slider .avia-testimonial-content {
    font-size: 15px;
    font-style: italic;
}

#top .av-large-testimonial-slider .avia-slideshow-arrows a {
    opacity: 0.2;
}

#specialization-grid .av_one_fourth {
    padding: 65px 50px !important;
}

#our-specialization .flex_column .avia-animated-number {
    padding: 25px 15px;
    margin-top: 10px;
    box-sizing: border-box;
    clear: none;
    background: #f5f5f5;
}

#our-specialization .avia-animated-number-title {
    font-size: 30px;
}

.toggler {
    line-height: 1.1em !important;
    letter-spacing: 0px !important;
    font-size: 21px;
    color: #0966b1 !important;
    padding: 15px 38px !important;
    border-radius: 0px !important;
}

.toggle_icon {
    top: 27px;
}

.toggle_content {
    margin-bottom: 25px;
    border-radius: 0px !important;
    margin: 15px 0;
    border: none;
    background: #fff !important;
}

.togglecontainer {
    max-width: 850px;
    margin: auto;
}

#faq .content {
    padding-top: 0 !important;
}

.section-404 p {
    color: #b0b0b0;
}

.section-404 h2 {
    padding-bottom: 10px;
}

.section-404 {
    text-align: center;
}

.section-404 .button {
    margin: 25px auto 0 auto;
}

.search-result-counter  {
    display: none;
}

#top .template-search.content .entry-content-wrapper {
    padding-left: 0px;
}

#top .template-search.content .entry-content-wrapper {
    padding-bottom: 0px;
}

.pagination {
    padding: 15px 0 0 0 !important;
    border-top: 1px solid #ebebeb;
    margin-top: 25px;
}

#top .pagination .current, #top .pagination a, #top .fullsize .template-blog .pagination a {
    box-shadow: none;
    border-radius: 0;
    background: #fff;
}

#top .pagination a:hover {
    background: #0060ae !important;
}

h3 a {
    color: #0a66b1 !important;
}

.template-search h1 {
    margin-bottom: 40px;
}

.avia-search-tooltip {
    top: 70px !important;
}

.page-id-610 h2 {
    margin-bottom: 15px;
}

#top .av_minimal_header #s {
    padding: 12px 47px 12px 12px;
}

#searchsubmit {
    min-width: 1px !important;
}

#gform_1 {
    margin-bottom: 0 !important;
    margin-top: 0px;
}

.gform_wrapper {
    margin: 0 auto;
}

#input_1_1,
#input_1_2,
#field_1_1,
#field_1_2,
#field_1_3 {
    margin-bottom: 0 !important;
}

#input_1_1,
#input_1_2,
#input_1_3,
#input_1_4 {
    padding: 14px !important;
    border: none !important;
}

.gform_wrapper .gform_footer {
    padding-top: 0 !important;
    margin-top: 20px !important;
}

.validation_error {
    margin-top: 23px !important;
    margin-bottom: 20px !important;
}

.gfield_error input,
.gfield_error textarea {
    background: #f7e8e8;
}

.gfield_error {
    padding: 15px;
}

.gfield_label {
    color: #222;
}

.gfield_label .gfield_required {
    color: #b10909 !important;
}

.button-center {
    float: none;
    margin: 20px auto 0 auto;
}

.quote-box {
    max-width: 600px;
    box-sizing: border-box;
    padding: 35px;
    margin: 32px auto 0 auto;
    background: #f5f5f5;
}

.quote-box .quote-form {
    margin: 0 auto;
    margin-bottom: 0 !important;
}

#gform_2 input[type="text"],
#gform_2 select {
    padding: 15px !important;
    border: none !important;
    background: #fff !important;
}

#gform_2 {
    margin-bottom: 0 !important;
}

.gform_wrapper input[type="text"],
.quote-box input[type="text"],
.gform_wrapper select,
.gform_wrapper textarea,
.gform_wrapper .gfield_radio label {
    color: #222 !important;
}

#gform_wrapper_1.gform_wrapper textarea,
#gform_wrapper_1.gform_wrapper input[type="text"] {
    background-color: #f1f1f1;
}

.gf_progressbar_wrapper {
    display: none;
}

.gform_wrapper .gform_page_footer {
    padding-top: 6px;
    border-top: none;
    margin-bottom: -15px;
}

.gform_wrapper .gform_page_footer .button {
    float: left !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
    margin-left: 0 !important;
}

#gform_2 {
    margin-top: -15px;
}

#field_1_5 .gfield_label {
    display: none;
}

#field_1_5 {
    margin-top: 25px;
}

#section-1 .av_three_fifth {
    max-width: 640px;
}

.home #section-2 .avia_image  {
    margin-bottom: 15px;
}

#promo-section .entry-content-wrapper {
    display: table;
    margin: auto;
}

#promo-section .avia-button {
    color: #0966b1 !Important;
    background: #fff !Important;
}

#promo-section .avia-button:hover {
    color: #fff !Important;
    background: #ded28e !Important;
}

#loans .avia_textblock   {
    padding-top: 25px;
}

/*
.home.transparent-header .header_color .sub_menu>ul>li>a, 
.home.transparent-header .header_color .sub_menu>div>ul>li>a, 
.home.transparent-header .header_color .main_menu ul:first-child > li > a, 
#top.home.transparent-header .header_color .main_menu .menu ul .current_page_item > a, 
#top.home.transparent-header .header_color .main_menu .menu ul .current-menu-item > a, 
#top.home.transparent-header .header_color .sub_menu li ul a,
.home.transparent-header .header_color .social_bookmarks a {
    color: #fff;
}

.home.transparent-header .header_color .main_menu ul:first-child > li > a:hover {
    color: #fff !important;
}
*/

.home.transparent-header #header {
    border-bottom: 1px solid #ebebeb !important;
}

.home.transparent-header .avia-menu.av_menu_icon_beside {
    border-right: 1px solid #ebebeb !important;
}

.home.transparent-header .header_color .header_bg {
    background-color: rgba(255,255,255,1.0);
}

#section-1 .av_three_fifth {
    border-radius: 0px;
    padding: 30px;
    background: rgba(255,255,255,0.8);
}

#input_3_7 {
    text-transform: initial !important;
}

.norton-seal,
.norton-seal table,
.norton-seal table tbody,
.norton-seal table tbody tr {
    background: transparent !important;
}

.norton-seal table tbody td {
    border: none !important;
    padding: 0;
}

.norton-seal {
    width: 170px;
    margin-bottom: -20px;
}

#persection4 .av_one_fourth .avia_codeblock_section iframe {
    max-height: 150px;
    margin-top: 0 !important
}

@media only screen and (max-width: 989px) {

    #persection4 .av_one_fourth .avia_codeblock_section {
        display: table;
        margin: auto;
        float: none;
        max-height: 150px;
        overflow: hidden;
        margin-top: 0 !important;
    }

}

/* Footer ---------------------*/

#footer {
    padding: 45px 0 20px 0;
    color: #999;
}

#footer .widgettitle {
    margin-bottom: 20px;
    color: #fff;
}

#scroll-top-link {
    display: none;
}

#socket,
#footer a {
    color: #999;
    font-size: 15px;
}

#socket {
    color: #fff;
}

#footer a:hover {
    color: #fff;
}

.sub_menu_socket {
    float: left;
}

.contact-icons li {
    position: relative;
    padding: 7px 0;
}

.contact-icons i {
    position: absolute;
    top: 12px;
    left: 2px;
}

.contact-icons span {
    padding-left: 25px;
    display: block;
}

#text-4 img {
    float: right;
}

#menu-item-3159,
#menu-item-3160,
#menu-item-3161 {
    cursor: pointer;
}

#footer .current-menu-item a {
    font-weight: 400;
}

.quote-box #gform_3 input[type="text"], 
.quote-box #gform_3 select {
    padding: 15px !important;
    border: 1px solid #bbb !important;
    background: #fff !important;
}

.quote-box #gform_3 {
    width: 100% !important;
	margin-bottom: 0 !important;
}

.quote-box .gform_wrapper .gform_page_footer .button {
    max-width: 200px !important;
}

.avia_transform .page-id-3612 a:hover .image-overlay {
    opacity: 0.0 !important;
}

.footer-disclosure {
    margin-top: 0;
    background: #222;
    text-align: center;
}

.footer-disclosure p {
    margin: auto;
    max-width: 800px;
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
}

.footer-disclosure p img {
    margin-bottom: -30px;
}

#socket {
    padding-bottom: 60px;
}

/* Responsive ---------------------*/

@media (max-width:1400px) {

    .grid-5 .grid-content .grid-box:nth-child(5n+1) {
        clear: none;
    }
    
    .grid-5 .grid-content .grid-box:nth-child(4n+1) {
        clear: both;
    }
    
    .grid-5 .grid-box {
        width: 25%;
    }

}

@media (max-width:1200px) {

    .grid-4 .grid-content .grid-box:nth-child(4n+1),
    .grid-5 .grid-content .grid-box:nth-child(4n+1) {
        clear: none;
    }
    
    .grid-4 .grid-content .grid-box:nth-child(3n+1),
    .grid-5 .grid-content .grid-box:nth-child(3n+1) {
        clear: both;
    }
    
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 33.33333%;
    }
    
    #section-1 {
        background: linear-gradient(135deg, #ffffff 0%, #c4dff5 100%) !important;
        padding: 0;
        padding-top: 80px;
    }
    
    #section-1 .av_one_half {
        float: none;
        margin: auto;
        width: 100%;
    }
    
    #promo-section .avia-button-wrap {
        float: none;
        margin: 10px auto 0 auto;
        display: table;
        min-width: 200px;
        text-align: center;
    }
    
    #promo-section .av-special-heading {
        float: none;
        display: block;
        text-align: center;
    }
    
    #section-1 .av_three_fifth {
        width: 100%;
        margin: auto;
        float: none;
    }
    
    #loans .avia_textblock   {
        padding-top: 0px;
    }

}

@media (max-width:990px) {

    .grid-3 .grid-content .grid-box:nth-child(3n+1),
    .grid-4 .grid-content .grid-box:nth-child(3n+1),
    .grid-5 .grid-content .grid-box:nth-child(3n+1) {
        clear: none;
    }
    
    .grid-3 .grid-content .grid-box:nth-child(2n+1),
    .grid-4 .grid-content .grid-box:nth-child(2n+1),
    .grid-5 .grid-content .grid-box:nth-child(2n+1) {
        clear: both;
    }
    
    .grid-3 .grid-box,
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 50%;
    }
    
    #top #header.av_minimal_header .main_menu ul:first-child >li > ul {
        margin-top: 0;
    }
    
    #menu-item-search a {
        font-size: 16px !important;
        color: #969696 !important;
    }
    
    .av-hamburger-box {
        width: 22px;
        margin-left: 10px;
    }
    
    .av-hamburger-inner {
        background-color: #969696 !important;
    }
    
    .av-hamburger-inner::before {
        top: -7px;
        background-color: #969696 !important;
    }
    
    .av-hamburger-inner::after {
        bottom: -7px;
        background-color: #969696 !important;
    }

}

@media (max-width:768px) {

    #header_main {
        background: transparent;
    }
    
    .html_header_top.html_header_sticky #header {
        position: fixed !important;
    }
    
    .responsive #top #main {
        padding-top: 80px !important;
    }
    
    html #top.home #main {
        padding-top: 0px !important;
    }
    
    #loans .av-special-heading {
        padding-bottom: 40px !important;
    }
    
    #text-4 img {
        float: left;
    }
    
    #footer .av_one_fourth {
        margin-bottom: 0 !important;
    }
    
    #socket {
        padding-bottom: 40px;
    }
    
    #footer .widget {
        margin: 15px 0;
    }
    
    .socket_color a {
        color: #999;
    }
    
    #our-specialization h2 {
        margin-top: 15px;
    }
    
    #av_section_1 p {
        margin-top: 0.85em !important;
    }

}

@media (max-width:600px) {

    .grid-2 .grid-content .grid-box:nth-child(2n+1),
    .grid-3 .grid-content .grid-box:nth-child(2n+1),
    .grid-4 .grid-content .grid-box:nth-child(2n+1),
    .grid-5 .grid-content .grid-box:nth-child(2n+1) {
        clear: none;
    }
    
    .grid-2 .grid-box,
    .grid-3 .grid-box,
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 100%;
    }
    
    .quote-form input, 
    .quote-form .button {
        float: none;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .quote-form .button {
        margin-top: 15px;
    }
    
    #section-1 .quote-form {
        margin-bottom: 0;
    }
    
    .responsive #top .av-large-testimonial-slider.avia-testimonial-wrapper .avia-testimonial {
        padding: 0;
    }
    
    #testimonials .avia-testimonial-image {
        display: table;
        margin: 0 auto -10px auto !important;
        float: none;
        width: auto !important;
        height: auto !important;
    }

    .avia-section-large .content, 
    .avia-section-large .sidebar {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .toggler {
        font-size: 18px;
        line-height: 1.3em !important;
    }
    
    #av_gmap_1 {
        height: 320px !important;
    }
    
}

@media only screen and (max-width: 479px) {

    .home.transparent-header .avia-menu.av_menu_icon_beside {
        border-right: none;
    }
    
}

@media (max-width:400px) {

    article.post-entry {
        width: 100% !important;
        margin-bottom: 30px !important;
        margin-left: 0 !important;
    }
    
    .html_modern-blog .slide-entry-wrap {
        margin-bottom: 0;
    }
    
    .html_modern-blog .post_delimiter {
        display: none;
    }
    
    .html_modern-blog .content {
        margin-bottom: 0 !important;
    }
    
    .quote-form input {
        width: 200px !important;
    }
    
    .gform_wrapper .gfield_radio label {
        width: auto;
        margin: 2px 0 0 10px;
    }
    
}

@media only screen and (min-width: 641px) {

    .gform_wrapper .top_label li.gfield.gf_left_half {
        padding-right: 20px;
    }

    .gform_wrapper .top_label li.gfield.gf_right_half {
        padding-left: 20px;
    }

}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.4;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/* Header Updates */

.html_header_top.html_header_topbar_active.html_header_sticky #top #main {
    padding-top: 119px !important;
}

header#header {
    background: #fff !important;
}

#section-1 {
    padding-top: 80px !important;
}

@media (max-width:767px) {

    .html_header_top.html_header_topbar_active.html_header_sticky #top #main {
        padding-top: 110px !important;
    }

    .home.transparent-header .avia-menu.av_menu_icon_beside {
        border-right: none !important;
    }

}

@media (max-width:1200px) {

    #section-1 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

}

.html_header_top.html_header_topbar_active.html_header_sticky #top.page-id-3681 #main,
.html_header_top.html_header_topbar_active.html_header_sticky #top.page-id-3526 #main {
    padding-top: 0 !important;
}

.html_header_top.html_header_topbar_active.html_header_sticky #top .custom-header + #main {
    padding-top: 0px !important;
}