#persection1{ background:#000!important;}
#persec1 .gfield { width: 340px;}
#persec1 .gfield input[type='text'] { padding: 20px 0;  margin: 0; text-align: center; text-transform: capitalize;  background: #fff!important;  border: 1px solid #0866b0!important; color: #a1a1a1!important; font-size: 18px;}
#persec1 .gfield .gfield_label{ display: none;}
#persec1 .gform_wrapper .gform_footer{    margin-top: 0px !important;}
#persec1 avia_textblock{    padding-bottom: 79px;}
#persec1 .av_textblock_section{padding-bottom: 50px;}
#persec1 .gform_wrapper div.validation_error{    background: rgba(255,255,255,0.8);   color: #000!important;}
#persec1 .gform_wrapper input[type='submit']{ width: 324px; padding: 0!important; margin: 0!important;     height: 63px;}
#persection2 .av-special-heading-tag{ font-size: 46px;}
#persection2 .av-special-heading-tag span{ color: #0866b0; font-weight: 700;}
#persection2 .para1{ font-size: 21px;}
#persection2 .pricing-table { border: 1px solid #063a63;}
#persection2 .pricing-table-wrap:hover .avia-heading-row{ background: #0866b0;}
#persection2 .pricing-table-wrap .avia-heading-row .first-table-item{ text-transform: uppercase; font-size: 18px;}
#persection2 .pricing-table-wrap:hover .pricing-table li:last-child{ color: #0866b0; font-style: italic;}
#persection2 .pricing-table-wrap .avia-heading-row{ background: #063a63;}
#persection2 .pricing-table li:last-child{ color: #636363;}
#persection2 .custom_table{ width: 679px; background: #fff; margin: 0 auto; padding: 20px 59px;}
#persection2 .mob_tab{ display: none!important;}
#persection2 .custom_table ul{ display: inline-block; padding: 0; margin: 0;}
#persection2 .custom_table ul li{ text-transform: uppercase; list-style: none; font-size: 16px;}
#persection2 .custom_table ul:first-child li{ color: #000;}
#persection2 .custom_table ul:last-child{ float: right;}
#persection2 .custom_table ul:last-child li{ color: #063a63; font-style: italic; font-size: 18px;}
#persection2 .custom_table ul:last-child li img{  position: relative;  top: 3px;  left: -8px;}
#persection2{ padding-bottom: 40px; padding-top: 20px;}
#persection2 .avia-builder-el-last{ margin-top: 0;}
#persection3 h1{ font-size: 46px;}
#persection3 h1 span{ color: #0866ae; font-weight: 700;}
#persection3 .para1{ font-size: 21px;  padding-bottom: 20px;}
#persection3 .av_one_third  { border: 3px solid #0866b0; position: relative;}
#persection3 .av_one_third .avia-image-container{ position: absolute; top: -17%; left: 0; right: 0; margin: 0 auto;}
#persection3 .av_one_third h2{ font-size: 20px; padding-top: 68px;}
#persection3 .av_one_third p{ font-size: 16px;     padding: 0px 17px; color: rgb(58,58,58);}
#persection3 div .av_one_third{    margin-left: 3%;  width: 30%;     margin-bottom: 32px; padding-bottom: 13px;}
#persection4 .container { width: 620px; margin: 0 auto;}
#persection4 .avia_textblock .rating_tab{    display: table; margin: 0 auto;}
#persection4 .avia_textblock .rating_tab p{ display: inline-block;margin-top: 0; margin-bottom: 0;}
#persection4 .avia_textblock .rating_tab p img{ margin-right: 3px; }
#persection4 h1{ font-size: 46px;}
#persection4 h1 span{ font-weight: 700;}
#persection5 h1 span{    background: #ff960d;   color: #000;  padding: 0 5px;}
#ct-hello-bar { min-height: 1px !important;}
#ct-hello-bar p{font-family: 'Noto Serif', serif !important;}
#ct-hello-bar .container { padding-top: 0 !important;}
#ct-hello-bar .av_inherit_color a{ text-decoration: none!important;}

#persection7 { min-height: 1px !important;}
#persection7 .container { padding-top: 0 !important;}


html:not(.mobile-true) #main img:not(.animate-element, .ls-s-1), html:not(.mobile-true) #header img, html:not(.mobile-true) #bottom-bar img { opacity: 1 !important; }


@media only screen and (max-width: 767px) {
    
    #persec1 .gfield input[type='text']{ width: 80%;}
    #persec1 .gform_wrapper input[type='submit']{width:270px;}    
    #persection2 .custom_table{    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 20px 17px;
    height: auto;
    display: table;}
    #persection2 .custom_table ul:last-child{ float: none;}
    #persection2 .custom_table ul li{ text-align: center;}
    #persection2 .custom_table ul{display: block;}
    #persection3 .av_one_third{margin-top: 60px!important;}
    /* .responsive #top #wrap_all #main{ padding: 0!important;} */
    #persec1 .avia-image-container.avia-align-left{ margin-right: 0;}
    #persec1 .container{width: 273px!important;  margin: 0 auto!important;}

}

@media only screen and (max-width: 768px) {
   #persection4 .avia_codeblock iframe{
        margin-top: 40px!important;
    }  
    
   #persection2 .mob_tab{display: table;}   
	#persection2 .custom_table{display: none;} 
    #persection2 .mob_tab{display: table!important;} 
}


@media only screen and (max-width: 480px) {
    #persec1 .container{
        height: 588px!important;
    }
    #persection4 .avia_codeblock iframe{
        margin-top: 40px!important;
        height: 527px!important;
    }
     #persec1 .avia-image-container-inner img{ width: 80%; margin: 0 auto;}
     #persection4{ height: 1319px;}
}