#section-1 {
    padding-top: 190px;
}

.code-form {
    text-align: center;
    margin: auto !important;
    margin-bottom: 10px !important;
}

.code-form input {
    margin-bottom: 0 !important;
    font-size: 15px !important;
    border: 1px solid #ebebeb !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.code-form button {
    margin-top: 25px !important;
}

.code-form p {
    color: #000;
}

#gf_progressbar_wrapper_4,
#gf_progressbar_wrapper_6 {
    position: relative;
    top: -22px;
    padding-bottom: 0;
    margin-bottom: -35px;
    display: block;
}

.rate-form {
    background: #f5f5f5;
    max-width: 800px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 0 50px;
    position: relative;
}

.rate-form .gform_body {
    display: block;
    max-width: 450px;
    margin: auto;
    padding: 74px 0 50px 0;
}

.rate-form .gform_wrapper .gf_progressbar {
    box-shadow: none;
    background: #f5f5f5;
    width: 100%;
}

.rate-form .gform_wrapper .gf_progressbar:after {
    box-shadow: none;
    background: #fff;
}

.rate-form .gform_wrapper .percentbar_blue {
    z-index: 9;
    position: relative;
}

.rate-form input[type='text'] {
    background: #fff !important;
    border: 1px solid #222 !important;
    height: 42px;
    padding: 0 12px !important;
}

.rate-form p {
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0 0;
}

#gform_4,
#gform_6 {
    margin-bottom: 0 !important;
    margin-top: 26px;
}

#gform_4 .gform_page_footer,
#gform_6 .gform_page_footer,
#gform_5 .gform_footer {
    text-align: center;
}

#gform_4 .gform_page_footer .button,
#gform_6 .gform_page_footer .button,
#gform_5 .gform_footer .button {
    max-width: 150px !important;
    min-width: 150px !important;
    display: inline-block !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    float: none !important;
}

#gform_4 .gform_page_footer,
#gform_6 .gform_page_footer,
#gform_5 .gform_footer {
    padding-right: 20px;
}

.gform_wrapper .gf_progressbar_percentage span {
    display: none;
}


.gform_wrapper .gf_progressbar_percentage {
    background-image: linear-gradient(#0063a9, #00365d);
}

.gform_wrapper .gf_progressbar_wrapper {
    position: relative;
}

.gform_wrapper .gf_progressbar_wrapper {
    position: relative;
    top: -22px;
}

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
    position: absolute;
    z-index: 2;
    width: 200px;
    text-align: center;
    top: 18px;
    left: 50%;
    margin-left: -100px !important;
}

.gform_wrapper .gf_progressbar:after {
    height: 28px;
    margin-top: -28px;
}

.gform_wrapper .gf_progressbar_percentage {
    height: 28px;
}

.rate-code li {
    list-style: none;
}

.rate-code .gfield_label {
    padding-bottom: 6px;
    display: block;
}

.rate-code #field_4_12,
.rate-code #field_6_12 {
    margin-bottom: 0;
}

.progress-custom {
    width: 600px;
    height: 28px;
    position: absolute;
    border: 10px solid #f5f5f5 !important;
    display: table;
    margin: auto;
    background: #fff !important;
    border-radius: 28px;
    overflow: hidden;
    top: -24px;
    left: 50%;
    margin-left: -310px;
}

.progress-custom > p {
    width: 100%;
    line-height: 28px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #222;
}

.progress-status {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    border-radius: 28px;
    overflow: hidden;
    background-image: linear-gradient(#0063a9, #00365d);
}

.progress-status p {
    display: block;
    width: 580px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

.gf_progressbar_wrapper,
#gform_4 > .validation_error,
#gform_6 > .validation_error {
    display: none !important;
}

@media (max-width:1024px) { 

    .progress-custom {
        width: 400px;
        margin-left: -210px;
    }
    
    .progress-status p {
        width: 380px;
    }

}

@media (max-width:700px) { 

    .progress-custom {
        width: 300px;
        margin-left: -160px;
    }
    
    .progress-status p {
        width: 280px;
    }

}

@media (max-width:500px) { 

    .rate-form {
        padding: 0 30px;
    }
    
    .rate-form .gform_body {
        padding: 54px 0 30px 0;
    }
    
    .rate-form .gform_body {
        padding: 54px 0 30px 0;
    }
    
    .rate-thank .rate-form .gform_body {
        padding: 30px 0 30px 0;
    }

    .progress-custom {
        width: 220px;
        margin-left: -120px;
    }
    
    .progress-status p {
        width: 200px;
    }

}

#field_4_27,
#field_4_28,
#field_4_29,
#field_6_27,
#field_6_28,
#field_6_29 {
    margin-bottom: -26px !important;
}

.rate-form select {
    background-color: #fff !important;
    border: 1px solid #222 !important;
    height: 42px;
    padding: 0 12px !important;
    border-radius: 0;
    position: relative;
}

.rate-form .ginput_container_select {
    position: relative;
}

.rate-form .ginput_container_select:after {
    position: absolute;
    content: "";
    background-image: url(/wp-content/uploads/2019/05/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    border: 1px solid #111;
    top: 0;
    right: 0;
    background-color: #fff;
    pointer-events: none;
}

span.gfield_required {
    display: none;
}

#gform_page_4_2 .gform_page_footer,
#gform_page_6_2 .gform_page_footer {
    position: relative;
}

.ginput_container_date {
    position: relative;
}

body .gform_wrapper img.ui-datepicker-trigger {
    padding: 10px 10px 11px 13px;
    display: block;
    box-sizing: content-box !important;
    background-color: #f5f5f5;
    border-left: 1px solid #111;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-color: #111 !important;
    height: auto !important;
    width: auto !important;
}

.gfield_description {
    font-size: 1em !important;
    font-style: italic;
    padding-top: 5px !important;
    color: #999;
}

#section-1 img {
    margin-top: 25px;
    position: relative;
    left: -59px;
    margin-bottom: -30px;
}

#field_4_44 .ginput_container,
#field_4_41 label,
#field_4_42 label,
#field_4_43 label,
#field_4_56 .ginput_container,
#field_4_57 label,
#field_4_58 label,
#field_4_59 label,
#field_6_44 .ginput_container,
#field_6_41 label,
#field_6_42 label,
#field_6_43 label,
#field_6_56 .ginput_container,
#field_6_57 label,
#field_6_58 label,
#field_6_59 label {
    display: none !important;
}

#field_4_41,
#field_4_42,
#field_4_43,
#field_4_57,
#field_4_58,
#field_4_59,
#field_6_41,
#field_6_42,
#field_6_43,
#field_6_57,
#field_6_58,
#field_6_59 {
    float: left;
    clear: none;
    margin-top: -12px;
    margin-bottom: 0 !important;
}

#field_4_41 input,
#field_4_42 input,
#field_4_43 input,
#field_4_57 input,
#field_4_58 input,
#field_4_59 input,
#field_6_41 input,
#field_6_42 input,
#field_6_43 input,
#field_6_57 input,
#field_6_58 input,
#field_6_59 input {
    text-align: center;
}

#field_4_41,
#field_4_57,
#field_6_41,
#field_6_57 {
    width: 30%;
}

#field_4_42,
#field_4_58,
#field_6_42,
#field_6_58 {
    width: 25%;
}

#field_4_43,
#field_4_59,
#field_6_43,
#field_6_59 {
    width: 45%;
    position: relative;
}

#field_4_43:after,
#field_4_59:after,
#field_6_43:after,
#field_6_59:after {
    position: absolute;
    content: "";
    background-image: url(/wp-content/uploads/2019/05/ssn-1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    top: 9px;
    right: 17px;
    background-color: #fff;
    pointer-events: none;
}

#input_4_43,
#input_4_59,
#input_6_43,
#input_6_59 {
    padding-right: 40px !important;
}

@media (max-width:640px) { 

    #field_4_43:after,
    #field_4_59:after,
    #field_6_43:after,
    #field_6_59:after    {
        right: 1px;
    }
    
    #input_4_43,
    #input_4_42,
    #input_4_58,
    #input_4_59,
    #input_6_43,
    #input_6_42,
    #input_6_58,
    #input_6_59    {
        border-left: none !important;
    }

}

#field_4_57, 
#field_4_58, 
#field_4_59,
#field_6_57, 
#field_6_58, 
#field_6_59 {
    margin-bottom: 10px !important;
}

#field_4_54 .gfield_label,
#field_4_40 .gfield_label,
#field_6_54 .gfield_label,
#field_6_40 .gfield_label {
    display: none !important;
}

.gform_body .gfield_checkbox {
    margin-top: -13px !important;
}

.gform_body .gfield_checkbox input {
    display: inline-block;
    margin: 1px 5px 0px 0 !important;
}

.gform_body .gfield_checkbox label {
    margin: 0 !important;
    color: #111;
}

.gform_body .gfield_checkbox,
.gform_body .gfield_checkbox li {
    margin-bottom: 0 !important;
}

.rate-form .gform_wrapper input.disabled-input, 
.rate-form .gform_wrapper .disabled-input select {
    pointer-events: none;
    background-color: #dadada !important;
    color: #888 !important;
}

.rate-form .gf_readonly input {
    pointer-events: none;
    background-color: #dadada !important;
    color: #888 !important;
    opacity: 1.0 !important;
}

.disabled-input .ginput_container_select:after {
    background-color: #dadada !important;
}

.gfield_error .gfield_label {
    margin-top: 0 !important;
}

#field_4_40,
#field_6_40 {
    padding-top: 1px !important;
}

#field_4_44.gfield_error,
#field_4_56.gfield_error,
#field_6_44.gfield_error,
#field_6_56.gfield_error {
    margin-bottom: 18px !important;
}

.gform-badges {
    width: 100%;
    text-align: center;
}

.gform-badge {
    display: inline-block;
    float: none;
}

.gform-badge table {
    margin-bottom: 0 !important;
}

.gform-badge td {
    border: none;
    background: #f5f5f5;
    padding: 0 !important;
}

.gform-badges .gform-badge:first-child {
    position: relative;
    top: -20px;
}

.rate-thank .gform_body {
    padding: 50px 0;
}

.rate-thank .gform_body p {
    font-weight: 400;
}

.rate-thank h3 {
    font-family: 'Noto Sans', sans-serif !important;
    letter-spacing: 2px;
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #1372bf;
    text-align: center;
    padding-bottom: 40px;
    font-size: 18px;
}

#field_5_5 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#field_5_5 .ginput_container {
    opacity: 0.3;
}

.time-input,
.date-input {
    cursor: pointer;
}

.time-input input {
    pointer-events: none;
}

.date-swatch span {
    float: right;
    margin-right: 12px;
}

.time-swatches,
.date-swatches {
    display: none;
    width: calc(100% + 12px);
}

.time-swatch,
.date-swatch {
    color: #000;
    background: #fff;
    float: left;
    margin: 12px 13px 0 0;
    padding: 11px 0 11px 12px;
    border-color: #fff !important;
    border: 1px solid #000;
    cursor: pointer;
    font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 84.5px;
}

.date-swatch {
    width: 182.5px;
}

.date-input input {
    pointer-events: none;
}

.time-swatch.disabled,
.date-swatch.disabled {
    pointer-events: none;
    opacity: .3;
}

.time-swatch.active,
.date-swatch.active {
    border-color: #0866b0 !important;
    background: #0866b0;
    color: #fff;
}

.rate-thank .rate-form .gform_body .gform_body {
    max-width: 436px;
    padding: 0 !important;
}

.rate-bbb {
    display: inline-block;
    margin-top: 45px;
}

.rate-consumer {
    margin-top: 30px;
    padding: 30px 0px 20px 0px;
    background: #fff;
    display: inline-block;
    max-width: 785px;
    width: 100%;
}

.rate-trustpilot {
    margin-top: 30px;
    background: #fff;
    height: 432px;
    padding: 30px;
    display: inline-block;
    max-width: 600px;
    margin-left: 60px;
    width: 100%;
    float: right;
}

.rate-trustpilot iframe {
    width: 100% !important;
    height: 375px !important;
}

#rate-custom-section .container {
    max-width: 1550px;
}

@media (max-width:1550px) {

    .rate-trustpilot {
        max-width: 400px;
    }
    
    .rate-consumer {
        max-width: 700px;
    }
    
    #rate-custom-section .container {
        max-width: 1300px;
    }

}

@media (max-width:1290px) { 

    .rate-trustpilot {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .rate-bbb {
        margin-top: 45px;
    }

}

#rate-custom-section {
    margin-bottom: -1px;
}

#rate-custom-section .avia_codeblock {
    text-align: center;
}


.fixed-contact {
    position: fixed;
    bottom: -5px;
    right: 8px;
    width: 295px;
    text-align: left;
    background: #fff;
    padding: 20px 20px 5px 20px;
    box-sizing: content-box;
}

.fixed-contact img {
    float: left;
    margin-right: 10px;
}

.fixed-contact h3 {
    font-size: 18px;
}

.fixed-contact p {
    font-size: 13px;
    margin-top: -3px;
}

.rate-bbb {
    width: 230px;
    margin-top: 0px;
}

@media (max-width:1200px) { 

    .fixed-contact {
        display: none;
    }

}

@media (min-width:1900px) { 
    
    #rate-custom-section {
        position: relative;
        z-index: 9;
    }

}

#thank-you-schedule-date{
    font-size: 24px;
}

p.eh-p{
    font-size: 18px;
    margin-top: -45px;
}
.ehv-offered{
    font-size: 24px;
}

#gfield_description_4_40,
#gfield_description_6_40 {
    font-style: normal;
}

span.disclo{
    font-size: 12px;
    display: block;
    line-height: 17px;
    margin-top: -12px;
    padding: 15px;
}

label#label_4_40_1,
label#label_6_40_1 {
    font-size: 12px;
    font-weight: 700 !important;
}

h3.reviewing-app {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-weight: 400 !important;
}

#gform_submit_button_4,
#gform_submit_button_6 {
    max-width: 170px !important;
}

#gform_4 #top form input[type='text'],
#gform_6 #top form input[type='text'] {
    margin-top: 0 !important;
}

#section-1 .av_one_full {
    margin: 0 auto;
    float: none;
    text-align: center;
}

#section-1 h1.av-special-heading-tag {
    line-height: 1.2;
}

#section-1 .code-form {
    max-width: 380px;
    margin: auto;
}

.landing-form input {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 14px 0 !important;
    height: auto;
    font-size: 18px !important;
    color: #000 !important;
    text-align: center;
}

.landing-form .button {
    width: 100% !important;
    height: 50px !important;
}

#section-1 .content {
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-1 {
    padding-top: 0;
}

#field_5_1 {
    display: none;
}

.reviewing-app {
    display: table;
    margin: auto;
    font-size: 20px;
}

#gform_4 input[type='text'],
#gform_6 input[type='text'] {
    margin-top: 0 !important;
}

#gform_4 .gform_page_footer #gform_submit_button_4,
#gform_6 .gform_page_footer #gform_submit_button_6 {
    max-width: 190px !important;
    min-width: 190px !important;
}